<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trackmoney">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trackmoney">
        <activity
            android:name=".ActivityNewPay"
            android:exported="false" />
        <activity
            android:name=".typebill.ActivityViewOrDeleteTypeBill"
            android:exported="false" />
        <activity
            android:name=".paymethod.ActivityViewOrDeletePayMethod"
            android:exported="false" />
        <activity
            android:name=".typebill.ActivityAddOrEditTypeBill"
            android:exported="false" />
        <activity
            android:name=".paymethod.ActivityAddOrEditPayMethod"
            android:exported="false" />
        <activity
            android:name=".typebill.ActivityTypeBill"
            android:exported="false" />
        <activity
            android:name=".paymethod.ActivityPayMethod"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Trackmoney.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>